# 使用国内镜像加速依赖与 Electron 二进制下载（如可直连官方源可删除以下配置）
registry=https://registry.npmmirror.com
electron_mirror=https://npmmirror.com/mirrors/electron/
electron_builder_binaries_mirror=https://npmmirror.com/mirrors/electron-builder-binaries/
